<ion-header>
  <ion-toolbar>
    <ion-title>Editar Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="tarea.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="tarea.descripcion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked" class="Texto-fecha"> Fecha de vencimiento</ion-label>
    <ion-datetime display-format="YYYY-MM-DD" [(ngModel)]="tarea.fecha"></ion-datetime>
  </ion-item>

  <ion-button expand="block" color="primary" (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
